aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
distro==1.9.0
filelock==3.18.0
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.2
grpcio==1.71.0
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
jiter==0.9.0
kiwisolver==1.4.8
livekit==1.0.5
livekit-api==1.0.2
livekit-protocol==1.0.2
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
multidict==6.4.3
networkx==3.4.2
numpy==2.1.1
openai==1.73.0
opencv-python==4.11.0.86
openvino==2025.0.0
openvino-telemetry==2024.1.0
packaging==24.1
pandas==2.2.3
pillow==11.2.1
propcache==0.3.1
protobuf==6.30.2
psutil==7.0.0
py-cpuinfo==9.0.0
pydantic==2.11.3
pydantic_core==2.33.1
PyJWT==2.10.1
pyparsing==3.2.3
PyQt3D==5.15.7
PyQt3D-Qt5==5.15.16
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-3D==6.8.0
PyQt6-3D-Qt6==6.8.2
PyQt6-Charts==6.8.0
PyQt6-Charts-Qt6==6.8.2
PyQt6-DataVisualization==6.8.0
PyQt6-DataVisualization-Qt6==6.8.2
PyQt6-NetworkAuth==6.8.0
PyQt6-NetworkAuth-Qt6==6.8.2
PyQt6-Qt6==6.9.0
PyQt6-WebEngine==6.8.0
PyQt6-WebEngine-Qt6==6.8.2
PyQt6_sip==13.10.0
PyQtChart==5.15.7
PyQtChart-Qt5==5.15.16
PyQtDataVisualization==5.15.6
PyQtDataVisualization-Qt5==5.15.16
PyQtNetworkAuth==5.15.6
PyQtNetworkAuth-Qt5==5.15.16
PyQtPurchasing==5.15.6
PyQtPurchasing-Qt5==5.15.16
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.16
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
qasync==0.24.0
requests==2.32.3
scipy==1.15.2
seaborn==0.13.2
setuptools==76.0.0
six==1.17.0
sniffio==1.3.1
sympy==1.13.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
types-protobuf==5.29.1.20250403
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.107
ultralytics-thop==2.0.14
urllib3==2.4.0
wheel @ file:///opt/homebrew/Cellar/python%403.13/3.13.2/libexec/wheel-0.45.1-py3-none-any.whl#sha256=b9235939e2096903717cb6bfc132267f8a7e46deb2ec3ef9c5e234ea301795d0
yarl==1.19.0
